In [1]:
# import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import seaborn as sns

In [2]:
lux_df = pd.read_csv("luxury.csv")
sus_df = pd.read_csv("sustainability.csv")

In [3]:
lux_df

              Personalized experiences  82
0           High cleanliness standards  81
1                              Privacy  79
2             Plan with a travel agent  59
3  Offseason travel for reduced crowds  80

In [4]:
sus_df

                            Boosting local economies  72
0  Choosing brands that value diversity and inclu...  69
1  Selecting airlines with a carbon neutral commi...  60
2   Supporting sustainability-friendly travel brands  68